# ------------------------
# Rust / Cargo
# ------------------------
target/
**/*.rs.bk
**/*.rmeta
**/*.rlib
Cargo.lock

# ------------------------
# VSCode
# ------------------------
.vscode/*.history
.vscode/*.code-workspace
# .vscode/settings.json  # 可选，忽略本地个人设置

# ------------------------
# 系统文件
# ------------------------
.DS_Store
Thumbs.db
*.swp
*.swo

# ------------------------
# 日志 / 临时文件
# ------------------------
*.log
*.tmp

# ------------------------
# 编辑器 / IDE 临时文件
# ------------------------
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# ------------------------
# 单测 / coverage
# ------------------------
.nextest/
coverage/
